/* ----- footer : instagram feed ----- */

.footer-instagram {

  .widget-title {
    text-align: center;
    @include rem( font-size, $h2--accent );
    font-family: $font-family--secondary;
    font-weight: $font-weight--thin;
  }

}
