
/* ----- page spéciale : à propos ----- */


.page-about-emma {

  background: $rose--clair;

  @media only screen and (min-width: 1024px) {
      height: 100vh;
  }

  article {
    border: $border--thick-pink;
  }


  .about-image {
    @include grid-column(12);
      @media only screen and (min-width: 1024px) {
        @include grid-column(6);
      }
  }

  .about-text {
    @include grid-column(12);
      @media only screen and (min-width: 1024px) {
        @include grid-column(6);
        float: right;
      }

      h1 {
        text-align: center;
      }
  }

}
