/* ----- primary navigation ----- */


.menu-primary {

  float: right;

   a {
    text-transform: uppercase;
    @include rem( font-size, $primary-nav--font-size );
    color: $nav--link-color;
    font-weight: $font-weight--normal;

    &:hover {
      font-style: italic;
      text-decoration: none;
    }
  }

  .current-menu-item > a {
    color: $nav--current-item-color;
    text-decoration: none;
    background: $nav--current-item-background-color;

    &:hover,
    &:focus {
      font-style:normal;
    }
  }

}
