/* ## Primary Navigation
--------------------------------------------- */

.menu-primary {

   a {
    text-transform: uppercase;
    font-size: $nav--font-size;
    color: $nav--link-color;
    font-weight: $font-weight--normal;

    &:hover {
      font-style: italic;
      text-decoration: none;
      background: $rose--clair;
    }
  }


}
