/* ----- secondary navigation ----- */

.menu-secondary {
  position: fixed;
  top: 0;
  z-index: 10000;
  background-color: $secondary-nav--background-color;
  @include rem( font-size, $secondary-nav--font-size );
  width: $max-width--fullwidth;
  float: right;

  li {
    margin-top: 14px;
    margin-right: 12px;
    float: right;
  }

  a {
      color: $gray--light;
      padding: 10px;

      &:hover {
        background: $rose--principal;
        color: $white;
        text-decoration: none;
      }
  }
}
