/* ## Site Header Navigation
--------------------------------------------- */

.site-header .genesis-nav-menu li li {
  margin-left: 0;
}

.nav-primary:after {
  content: "";
  background: url(assets/images/bg_line-1.png) repeat ;
  margin: 20px auto 30px;
  background-size: 100% 100%;
  position: absolute;
  width: 402px;
  height: 5px;
  margin-left: 0px;
  margin-top: 2px;
}
