/* ----- front page : section youtube ----- */

.front-page-youtube {
  background: $background--white-dots;
  padding: $front-page-widget--padding;

  .widget-title {
    text-align: center;
    @include rem( font-size, $h2--accent );
    font-family: $font-family--secondary;
    font-weight: $font-weight--thin;
  }

  img {
    margin: auto;
  }

}
