/* ----- front page : section youtube ----- */

.front-page-youtube {
  background: $background--white-dots;
  padding: 32px 120px;

  .widget-title {
    text-align: center;
    @include rem( font-size, $h2--accent );
    font-family: $font-family--accent;
    font-weight: $font-weight--thin;
  }

  img {
    margin: auto;
  }

}
