/* ----- front page : section voyage ----- */

.front-page-travel {
background: $background--pink-dots;
padding: 22px 60px;

  .featured-content-mon-dernier-voyage {
  max-width: $max-width;
  margin: auto;
    .widget-wrap {
    background: $rose-clair;
    padding: 20px 60px;
    }
  }

  .widget-title {
  text-align: center;
  @include rem( font-size, $h2--accent );
  font-family: $font-family--accent;
  font-weight: $font-weight--thin;
  }

  article {
  margin: 30px auto 0px;
  position: relative;
  z-index: 1000 !important;
  background: none;
  }

  .entry-title{
  position: absolute;
  top: 20%;
  left: 10%;
  padding: 16px;
  width: 80%;
  z-index: 1000;
  @include rem( font-size, $widget-travel--mobile--title-font-size );
  text-align: center;
  text-transform: uppercase;
  font-weight: $font-weight--thick;
  border: $border--thick-gray;
  background: $white;
  color: $gray;
  }

  a.more-link {
  clear: both;
  display: block;
  margin: 18px auto 12px;
  width: 100%;
  text-align: center;
  background: $more-link-light--background-color;
  border: $more-link-light--border;
  color: $more-link-light--color;
  @include rem( font-size, $widget-travel-more-link--mobile--font-size );
  text-transform: uppercase;
  text-decoration: none;
  font-weight: $font-weight--normal;
  padding: $more-link--padding;

    &:hover {
      background: $more-link-light--hover-background-color;
      border: $more-link-light--hover-border;
      color: $more-link-light--hover-color;
    }
  }


  @media only screen and (min-width : $screen-size--medium) {
  padding: 32px 80px;
  }

  @media only screen and (min-width : $screen-size--large) {
  padding: 42px 100px;

    article {
      margin: 30px auto 0px;
      position: relative;
      z-index: 1000 !important;
      background: none;
      padding: 12px 40px !important;

      .entry-title{
        position: absolute;
        top: 30%;
        left: 25%;
        padding: 16px;
        width: 50%;
        z-index: 1000;
        @include rem( font-size, $h2--widget-principal-title );
        text-align: center;
        text-transform: uppercase;
        font-weight: $font-weight--thick;
        border: $border--thick-gray;
        background: $white;
        color: $gray;
      }

      .post-info {
        @include rem( font-size, $post-info--font-size );
        font-style: italic;
        margin-left: 0px !important;
      }

      p {
        @include grid-column(8);
        float: right;
        clear: both;
        margin-right: 40px;
        margin-left: 40px;
      }



    }


  }

}
