
/* ----- front page : éléments communs ----- */



body.custom-front-page {
  .site-inner {
    max-width: $max-width--fullwidth;
    margin: auto;
    padding: 0px;
    background: $rose-moyen;
  }
  .wrap {
   max-width: $max-width--fullwidth;
   // width: 100%;
   padding: 0px;
   margin: auto;
 }
   .entry {
     padding: 0;
     margin-bottom: 0;
   }
}

.custom-front-page {

  .front-page-titre-secondaire {
    text-align: center;
    @include rem( font-size, $h2--widget-alt-title );

    .accent {
      font-family: $font-family--secondary;
      font-weight: $h2--accent-font-weight;
      @include rem( font-size, $h2--accent );
    }
  }
}


// @media only screen and (min-width : $screen-size--medium) {
// }
//
// @media only screen and (min-width : $screen-size--large) {
// }
