/* ----- front page : section principale ----- */

.front-page-primary {
padding: 22px 60px;
margin: 220px auto 30px;
background: $rose-clair;

.widget-title {
display: none;
}

  article {
  max-width: $max-width;
  margin: -160px auto 0px;
  background: none;
  }

  .entry-title {
  text-align: center;
  text-transform: uppercase;
  color: $gray;
  line-height: normal;
  @include rem( font-size, $widget-principal--mobile--title-font-size );
  font-weight: $font-weight--thick;
  }

  .post-meta {
  text-align: left;
  margin: 16px auto;
  clear: both;
  }

  .entry-categories {
  display: inline;
  clear: both;
    a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: $font-weight--thin;
    color: $gray-light;
      &:hover {
      font-weight: $font-weight--thick;
      color: $bleu-principal;
      }
    }
  }

  a.more-link {
  clear: both;
  display: block;
  margin: 18px auto 12px;
  width: 220px;
  text-align: center;
  text-decoration: none;
  background: $more-link-dark--background-color;
  color: $more-link-dark--color;
  border: $more-link-dark--border;
  text-transform: uppercase;
  padding: $more-link--padding;
  font-weight: $font-weight--thick;
  @include rem( font-size, $widget-principal-more-link--mobile--font-size );
    &:hover {
    background: $more-link-dark--hover-background-color;
    color: $more-link-dark--hover-color;
    border: $more-link-dark--hover-border;
    }
  }
  @media only screen and (min-width: $screen-size--smallest) {
    article {
    position: relative;
    z-index: 1000 !important;
    }
    .entry-title {
    position: absolute;
    top: 20%;
    left: 14%;
    padding: 6px;
    width: 72%;
    z-index: 1000;
    border: $border--thick-gray;
    background: $white;
    }
  }

  @media only screen and (min-width: $screen-size--medium) {
  margin: 180px auto 30px;
  padding: 32px 100px;

    .entry-title {
    top: 20%;
    @include rem( font-size, $widget-principal--tablet--title-font-size );
    }
    a.more-link {
    margin: 32px auto 12px;
    float: right;
    @include rem( font-size, $widget-principal-more-link--tablet--font-size );
    }
  }

  @media only screen and (min-width: $screen-size--large) {
  padding: 42px 140px;
  margin: 180px auto 30px;
    .entry-title {
    top: 22%;
    @include rem( font-size, $widget-principal--desktop--title-font-size );
    }
    a.more-link {
    @include rem( font-size, $widget-principal-more-link--desktop--font-size );
    }
  }
}
