
/* ----- front page : éléments communs ----- */


.custom-front-page {

  .site-inner {
  max-width: $max-width--fullwidth;
  margin: auto;
  padding: 0px;
  background: $rose-moyen;
  }

  .wrap {
  max-width: $max-width--fullwidth;
  padding: 0px;
  margin: auto;
  }

  .entry {
  padding: 0;
  margin-bottom: 0;
  }

  .post-meta,
  .post-info {
  @include rem( font-size, $widget-frontpage--mobile--postinfo-font-size);
  color: $gray-light;
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 0px;
  }


  .front-page-titre-secondaire {
  text-align: center;
  @include rem( font-size, $h2--widget-alt-title );
    .accent {
    font-family: $font-family--accent;
    font-weight: $h2--accent-font-weight;
    @include rem( font-size, $h2--accent );
    }
   }


   @media only screen and (min-width : $screen-size--medium) {
      .post-meta,
      .post-info {
      @include rem( font-size, $widget-frontpage--tablet--postinfo-font-size);
      }
    }

    @media only screen and (min-width : $screen-size--large) {
      .post-meta,
      .post-info {
      @include rem( font-size, $widget-frontpage--desktop--postinfo-font-size);
      }
    }
}
