/* ----- front page : section lifestyle ----- */

.front-page-lifestyle {
padding: 22px 60px;

  .widget-title {
  display: none;
  }

  .featured-content-lifestyle {
  max-width: $max-width;
  margin: auto;
  }
  article {
    .entry-title {
    @include rem ( font-size, $widget-secondary--mobile--title-font-size);
    line-height: 1.2;
    text-align: center;
    }
    .post-info {
    text-align: center;
    }
    a.more-link {
    display: block;
    clear: both;
    text-align: right;
    text-transform: uppercase;
    color: $more-link-simple--color;
    background: $rose-clair;
    float: right;
    text-decoration: none;
    padding: 6px 12px;
    margin: 24px auto 38px;
      &:hover {
      background: $more-link-simple--hover-background-color;
      font-style: italic;
      }
    }
  }


  @media only screen and (min-width: $screen-size--small) and (max-width: 1023px) {
    a.aligncenter{
      display: block;
      margin: 0 auto;
    }
    article {
    @include grid-column(8, $frontpage-mobile-grid);
    position: relative;
    margin-bottom: 30px !important;

      .entry-image {
      @include grid-column(3, $frontpage-mobile-grid);
      }
      .entry-title {
      @include grid-column(5, $frontpage-mobile-grid);
      @include rem ( font-size, $widget-secondary--mobile--title-font-size);
      line-height: 1.2;
      text-align: left;
      }
      .post-info {
      @include grid-column(5, $frontpage-mobile-grid);
      text-align: left;
      }
      p {
      @include grid-column(5, $frontpage-mobile-grid);
      }
    }
  }


  @media only screen and (min-width: $screen-size--large) {
  padding: 42px 100px;

    a.aligncenter{
    display: block;
    margin: 0 auto;
    }

    article {
    @include grid-column(4, $frontpage-grid);
    position: relative;
    margin-bottom: 30px !important;

      &:nth-of-type(3n+1){
      clear: both;
      }

      .entry-title {
      @include rem ( font-size, $widget-secondary--tablet--title-font-size);
      text-align: center;
      margin-top: 22px;
      }

      .post-info {
      text-align: left;
      position: absolute;
      top: 0;
      left: -8px;
      transform: rotate(90deg);
      transform-origin: top left;
      font-style: italic;
      @include rem( font-size, $post-info--font-size );
      }

      a.more-link {
      text-align: right;
      }
    }
  }
}
