//
// Comment Header
//====================

.comment-header {
  margin-bottom: 20px;
  color: $gray-medium;
  display: inline;

  p {
    margin-bottom: 0;
    display: inline;
  }

  .comment-author {
    text-transform: uppercase;
  }

  .comment-meta {
    margin-bottom: 12px;

    a {
      font-family: $font-family--accent;
      @include rem( font-size, $comments-meta--font-size);
      text-decoration: none;
      color: $gray-medium;
    }


  }


}
