/* ----- archives des categories : généralités ----- */

.category {

  .archive-title {
    text-align: center;
  }

  .archive-description {
    text-align: center;
    font-family: $font-family--accent;
    @include rem( font-size, $category-description--font-size);
  }
}
