//
// Entry Title
//======================

.entry-title {
  @include rem( font-size, $entry-title--font-size );
  color: $gray;
  text-align: center;

  a {
    color: $entry-title--link-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $entry-title--hover-color;
    }
  }
}
