//
// Backgrounds
//=======================




$background--pink-dots: url(assets/images/bg_pink-dots.png);
$background--blue-dots: url(assets/images/bg_pink-dots.png);
$background--white-dots: url(assets/images/bg_white-dots.png);
