
$border--thin-pink: 1px solid $rose-principal;
$border--thick-pink: 2px solid $rose-principal;

$border--thin-gray: 1px solid $gray;
$border--thick-gray: 2px solid $gray;

$border--thin-gray-light: 1px solid $gray-light;
$border--thick-gray-light: 2px solid $gray-light;

$border--thin-blue: 1px solid $bleu-principal;
$border--thick-blue: 2px solid $bleu-principal;
