//
// Device Screen Sizes
//==========================

$screen-size--smallest: 320px;
$screen-size--smaller: 480px;
$screen-size--small: 860px;
$screen-size--medium: 1024px;
$screen-size--large: 1200px;
$screen-size--larger: 1340px;
$screen-size--huge: 1600px;



//
// Breakpoints
//============================


//@media only screen and (max-width: 1340px) {
$breakpoint__screen-size--larger: new-breakpoint(max-width $screen-size--larger 12);

//@media only screen and (max-width: 1200px) {
$breakpoint__screen-size--large: new-breakpoint(max-width $screen-size--large 12);

//@media only screen and (max-width: 1023px) {
$breakpoint__screen-size--medium: new-breakpoint(max-width $screen-size--medium 6);

//@media only screen and (max-width: 860px) {
$breakpoint__screen-size--small: new-breakpoint(max-width $screen-size--small 4);
