$button-light--background-color: $rose--principal;
$button-light--color: $white;
$button-light--hover-background-color: $rose--clair;
$button-light--hover-color: $gray;
$button-light--disabled-background-color: $gray--pink;
$button-light--disable-color: $gray--medium;


$button-dark--background-color: $gray;
$button-dark--color: $white;
$button-dark--border: $border--thick-pink;
$button-dark--hover-background-color: $rose--principal;
$button-dark--hover-color: $white;
$button-dark--hover-border: $rose--principal;
$button-dark--disabled-background-color: $gray--pink;
$button-dark--disable-color: $gray--medium;
