//
// Device Screen Sizes
//==========================

$screen-size--smallest: 320px;
$screen-size--small: 480px;
$screen-size--medium: 860px;
$screen-size--large: 1024px;
$screen-size--larger: 1200px;
$screen-size--big: 1340px;
$screen-size--huge: 1600px;
