//
// more links - front page
//=========================

$more-link--padding: 8px 32px;
$more-link--font-size: 32px;
$more-link--weight: $font-weight--thick;

$more-link-light--background-color: $white;
$more-link-light--color: $rose-principal;
$more-link-light--border: $border--thick-pink;
$more-link-light--hover-background-color: $rose-principal;
$more-link-light--hover-color: $white;
$more-link-light--hover-border: $border--thick-pink;


$more-link-dark--background-color: $rose-principal;
$more-link-dark--border: $border--thick-pink;
$more-link-dark--color: $white;
$more-link-dark--hover-background-color: $white;
$more-link-dark--hover-color: $rose-principal;
$more-link-dark--hover-border: $border--thick-pink;

$more-link-simple--color: $gray;
$more-link-simple--hover-background-color: $rose-clair;

//
// special template links
//=========================

$template-link--color: $gray;
$template-link--hover-background-color: $white;

$template-link--weight: $font-weight--thick;

$template-link--large-screen-font-size: 34px;
$template-link--medium-screen-font-size: 28px;
$template-link--small-screen-font-size: 22px;


//
// more links - archives
//=========================

$more-link-archives--padding: 12px;
$more-link-archives--font-size: 24px;
$more-link-archives--weight: $font-weight--thin;


//
// single article : pagination
//=========================

$single-pagination--color: $gray-medium;
$single-pagination--font-size: 48px;
$single-pagination--weight: $font-weight--thin;
