// Common Fonts
$font-family--primary: 'Poppins', sans-serif;
$font-family--accent: 'Dawning of a New Day', cursive;
$font-family--secondary: 'Roboto', sans-serif;
$font-family--mono: 'Courier New', monospace;
$font-weight--thin: 300;
$font-weight--normal: 400;
$font-weight--thick: 500;

// Base Typography
$html--font-size: 62.5%;

$base--font-family: $font-family--primary;
$base--font-size: 16px;
$base--font-weight: $font-weight--thin;
$base--font-size--small-screen: 14px;
$base__div--font-size: 1.6rem;
$base__div--font-size--small-screen: 1.4rem;
$base--line-height: 1.625;

// Headings
$headings--font-family: $font-family--primary;
$headings--line-height: 1.2;
$headings--font-weight: $font-weight--thick;
$h1--font-size:  52px;
$h2--font-size:  46px;
$h3--font-size:  36px;
$h4--font-size:  28px;
$h5--font-size:  26px;
$h6--font-size:  22px;

//single
$h1-single--font-size: 40px;
$h2-single--font-size: 32px;
$h3-single--font-size: 26px;
$h4-single--font-size: 42px;
$h5-single--font-size: 22px;
$h6-single--font-size: 22px;

$h4-single--font-weight: $font-weight--normal;
$h5-single--font-weight: $font-weight--normal;

$widget-frontpage--mobile--postinfo-font-size: 18px;
$widget-frontpage--tablet--postinfo-font-size: 22px;
$widget-frontpage--desktop--postinfo-font-size: 22px;


// Widgets front page : article à la une

$widget-principal--mobile--title-font-size: 42px;
$widget-principal--tablet--title-font-size: 52px;
$widget-principal--desktop--title-font-size: 62px;

$widget-principal--mobile--content-font-size: 30px;
$widget-principal--tablet--content-font-size: 30px;
$widget-principal--desktop--content-font-size: 30px;

$widget-principal-more-link--mobile--font-size: 28px;
$widget-principal-more-link--tablet--font-size: 28px;
$widget-principal-more-link--desktop--font-size: 32px;

// Widgets front page : vignettes

$widget-secondary--mobile--title-font-size: 38px;
$widget-secondary--tablet--title-font-size: 42px;
$widget-secondary--desktop--title-font-size: 46px;

$widget-secondary--mobile--content-font-size: 30px;
$widget-secondary--tablet--content-font-size: 30px;
$widget-secondary--desktop--content-font-size: 30px;

$widget-secondary-more-link--mobile--font-size: 32px;
$widget-secondary-more-link--tablet--font-size: 32px;
$widget-secondary-more-link--desktop--font-size: 32px;

// Widgets front page : travel

$widget-travel--mobile--title-font-size: 30px;
$widget-travel--tablet--title-font-size: 30px;
$widget-travel--desktop--title-font-size: 30px;

$widget-travel--mobile--content-font-size: 30px;
$widget-travel--tablet--content-font-size: 30px;
$widget-travel--desktop--content-font-size: 30px;

$widget-travel-more-link--mobile--font-size: 32px;
$widget-travel-more-link--tablet--font-size: 32px;
$widget-travel-more-link--desktop--font-size: 32px;

// Widgets front page : vignettes

$widget-youtube--mobile--title-font-size: 30px;
$widget-youtube--tablet--title-font-size: 30px;
$widget-youtube--desktop--title-font-size: 30px;

$widget-youtube--mobile--content-font-size: 30px;
$widget-youtube--tablet--content-font-size: 30px;
$widget-youtube--desktop--content-font-size: 30px;

$widget-youtube-more-link--mobile--font-size: 32px;
$widget-youtube-more-link--tablet--font-size: 32px;
$widget-youtube-more-link--desktop--font-size: 32px;

$h2--widget-principal-title: 42px;
$h2--widget-alt-title: 32px;
$h2--accent: 46px;
$h2--accent-font-weight: $font-weight--normal;


// Elements
$blockquote--font-size: 30px;
$input--font-size: 18px;
$button--font-size: 16px;
$post-info--font-size: 20px;
$post-meta-title--font-size: 30px;

//
// Navigation
//===========
$primary-nav--font-size: 26px;
$submenu--font-size: 16px;
$secondary-nav--font-size: 18px;


//
// pagination
//===========

$archive-pagination--font-size: 24px;
$archive-pagination--weight: $font-weight--thin;
$archive-pagination--weight-hover: $font-weight--thick;

//
// Header
//==================
$site-title--font-size: 30px;
$site-description--font-size: 16px;


//
// Footer
//==================
$site-footer--font-size: 18px;
$site-footer--credits-font-size: 24px;
$footer-widgets--font-size: 18px;
$to-top-button--font-size-small: 28px;
$to-top-button--font-size-large: 38px;

//
// Entry Content
//===================
$entry-meta--font-size: 16px;
$entry-header__entry-meta--font-size: 16px;
$entry-footer__entry-meta--font-size: 16px;

$entry-title--font-size: 62px;

//
// Comments
//===================
$comments--font-size: 22px;
$comments-placeholder--font-size: 18px;
$comments-meta--font-size: 30px;

//
// Widgets
//===================
$widget-title--font-size: 18px;
$featured-content__entry-title--font-size: 20px;

//
// special templates
//===================
$template-title--large-font-size: 54px;
$template-text--large-font-size: 40px;

$template-title--medium-screen-font-size: 44px;
$template-text--medium-screen-font-size: 34px;

$template-title--small-screen-font-size: 38px;
$template-text--small-screen-font-size: 30px;

//
// taxonomy templates
//=====================

$category-description--font-size: 36px;
$category-title--font-size: 32px;

$tag-description--font-size: 36px;
$tag-title--font-size: 32px;



//
// Plugins
//===================
$enews--font-size: 16px;

//
// General Components
//===================
$breadcrumbs--font-size: 16px;
$author-box--font-size: 18px;
$author-box__Title--font-size: 20px;
$after-entry--font-size: 18px;
$archive-description--font-size: 18px;
$archive-title--font-size: 20px;
