/* ----- archives des étiquettes : généralités ----- */

.tag {

  .archive-title {
    text-align: center;
  }

  .archive-description {
    text-align: center;
    font-family: $font-family--accent;
    @include rem( font-size, $tag-description--font-size);
  }

}
