/* ## Site Containers
--------------------------------------------- */


.wrap {
  margin: 0 auto;
  max-width: $max-width--fullwidth;
  padding-left: 5%;
  padding-right: 5%;

  @media screen and (min-width: 860px) {
    padding-left: 2%;
    padding-right: 2%;
  }

}

.site-inner {
  margin: 0 auto;
  max-width: $max-width;
  clear: both;
  padding-top: 40px;
  word-wrap: break-word;
  padding: 5% 5% 0;

   @media screen and (min-width: 860px) {
    padding: 2% 2% 0;
  }
}


.landing-page .site-inner {
  max-width: $max-width__landing-page;
}
