/* ----- base ----- */


.site-header {
  background-color: $site-header--background-color;
  //position: fixed;
  width: 100vw;
  z-index: 10000;
  //border-bottom: $border--thin-blue;

  .wrap {
    padding-left: 5%;
    padding-right: 5%;
  }


  @media only screen and (min-width: $screen-size--large) {
    > .wrap {
      padding: 2px 10px;
    }
  }
}
