/* ----- instagram feed ----- */

.footer-instagram {

  margin-top: 42px;
  background: $white;

  .lien-instagram {
    text-align: center;
    @include rem( font-size, $h2--accent );
    font-family: $font-family--secondary;
    font-weight: $font-weight--thin;
    a {
      text-decoration: none;;
      color: $gray;
    }
  }

}
